body{
	font-family: "微軟正黑體";
	font-size: 16px;
}

#RTbutton{
	position: relative;
	text-align: right;
	padding: 30px;
}

#copyrightPanel{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 60%;
}

#copyrightPanel h4{
	font-weight: 700;
}

#copyrightPanel table{
	
}

@media(max-width:1200px) {
	#copyrightPanel{
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.jf-active *, .jf-inactive * { /*處理成功或失敗，都以漸變顯示*/
      -webkit-transition: opacity 1s ease-out;
      -moz-transition: opacity 1s ease-out;
      -o-transition: opacity 1s ease-out;
      transition: opacity 1s ease-out;
} 